{:paths ["src"]
 :tasks
 {test {:doc "Run all tests"
         :extra-paths ["test"]
         :requires ([clojure.test :as t] parser-test calculator-test renderer-test)
         :task (let [{:keys [fail error]} (t/run-tests 'parser-test 'calculator-test 'renderer-test)]
                 (System/exit (if (pos? (+ fail error)) 1 0)))}}}

